* {
  box-sizing: border-box;
  font-family: 'Rosarivo';
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');

/*MENU BURGER*/

.ham {
  background-color: transparent;
  background-image: url("/img/menu-burger-close.webp");
  background-size: 100%;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 13px;
  width: 30px;
  height: 30px;
  z-index: 1000;
}

.showClose {
  background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
  background-color: transparent;
}

.navbar {
  background: #25887c;
  color: white;
  left: 0;
  position: absolute;
  transform: translateY(-150%);
  transition: transform 0.60s ease;
  width: 100vw;
}

.showNav {
  transform: translateY(0);
}

.navbar ul {
  width: 100vw;
  height: 50vh;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar ul li a:hover, .burger-menu ul li a:focus {
  border-bottom: 1px solid white;
}

hr {
  color: white;
  width: 50px;
}

/*NAVBAR*/

.nav-bar {
  display: flex;
  justify-items: center;
  margin-left: 30px;
  position: absolute;
}

.nav-bar a {
  color: #25887C;
  font-size: 18px;
  padding: 12px;
  position: relative;
  top: 5px;
}

.navigation {
  display: none;
}

@media only screen and (min-width: 767px) {
  .nav-bar {
    margin-left: 50px;
    position: absolute;
  }
  .nav-bar a {
    color: #25887C;
    font-size: 22px;
    margin-left: 40px;
    top: 5px;
  }
  .navigation {
    display: none;
  }
}

@media  only screen and (min-width: 992px) {
  .ham,
  .navbar,
  .nav-bar {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .menu {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 90px;
  }
  h1 {
    color: #25887C;
    flex: auto;
    font-size: 24px;
    margin-left: 95px;
    margin-top: 25px;
  }
  .name {
    margin-left: 45px;
  }
  a {
    color: black;
    margin: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: #25887C;
    text-decoration: underline;
  }
  .home-icon i {
    color: #25887C;
    font-size: 18px;
  }
}

/*CONTENT*/

.main {
  background-color: #ECFAF8;
}

.main-image img {
  display: block;
  filter: drop-shadow(5px 5px 0.15rem #25887C);
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 20px;
  width: 70%;
}

.title {
  line-height: 28px;
  margin-left: 40px;
}

.title h2,
h3 {
  color: #25887c;
}

.title h3 {
  font-size: 18px;
}

.title p {
  font-size: 12px;
}

.colored {
  color: #25887c;
}

@media only screen and (min-width: 767px) {
  .main {
    height: 100vh;
  }
  .title {
    margin-left: 60px;
  }
}

@media only screen and (min-width: 992px) {
  .main {
    height: 100vh;
  }
  .main-image img {
    margin-left: 400px;
    position: absolute;
    width: 50%;
  }
  .title {
    position: relative;
    padding-top: 160px;
    padding-left: 260px;
  }
  .title h2 {
    display: none;
  }
  .title h3 {
    font-size: 22px;
  }
  .title p {
    font-size: 16px;
  }
}

/*FOOTER*/

hr {
  color: #25887c;
  width: 100%;
}

.social-medias {
  align-self: center;
  background-color: #25887c;
  display: flex;
}

.social-medias img {
  width: 60%;
}

.social-medias a {
  align-items: center;
  border-radius: 100px;
  background: #25887C;
  box-shadow: inset -7px 7px 14px #0f3632, 
              inset 7px -7px 14px #3bdac6;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}


@media only screen and (min-width: 767px) {

}

@media only screen and (min-width: 992px) {
  
}
